$primary: #13437E;
$warning: #FFC107;
$secondary: #6C757D;
$success: #02721f;
$danger: #DB1810;
$info: #085FF5;
$light: #FBFBFB;
$dark: #262626;


$box-shadow: 0 0.2em 0.2rem rgba(black, .30);
$body-bg: #F7F7F9;

$badge-border-radius: 10px;

$border-radius: 10px;

$card-border-radius: $border-radius + 5px;

@import "node_modules/bootstrap/scss/bootstrap";
